<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--add key="endpoint" value="https://rafat-iot-cosmos.documents.azure.com:443/" />
    <add key="authKey" value="Lgov30tbEwoi8wotLQL8QbKvfH2bBV0Mh7VtlS7lydV6GLqUZPCpi14WTV8kozh3VW2SniDii6tr9dPUrBT8nA==" />
    <add key="database" value="IoT" />
    <add key="collection" value="IoT2" /-->
<!--Mongo-->
    <add key="endpoint" value="https://rafatmongodb.documents.azure.com/" />
    <add key="authKey" value="v8olVPiF1M1T607EKmck6LIbW8HYniNDrg9dp6O9uzJu3dKZ7fxFBAhv4eDDXtfFbOtWmmnwWLioPu7h2Zw7mQ==" />
    <add key="database" value="test" />
    <add key="collection" value="IoT" />
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>